name: Build OpenWrt Firmware

on:
  workflow_dispatch:

env:
  TZ: Asia/Shanghai

jobs:
  Build-Lede:
    runs-on: ubuntu-22.04

    steps:
      # 检出代码
      - name: Checkout source code
        uses: actions/checkout@v3

      # 初始化编译环境
      - name: Initialization environment
        env:
          DEBIAN_FRONTEND: noninteractive
          TZ: Asia/Shanghai
        run: |
          docker rmi `docker images -q`
          [[ -n "${AGENT_TOOLSDIRECTORY}" ]] && sudo rm -rf "${AGENT_TOOLSDIRECTORY}"
          sudo -E rm -rf /usr/share/dotnet /etc/mysql /etc/php /etc/apt/sources.list.d /usr/local/lib/android
          sudo -E apt-mark hold grub-efi-amd64-signed
          sudo -E apt update
          sudo -E apt -y purge azure-cli* docker* ghc* zulu* llvm* firefox google* dotnet* powershell* openjdk* mysql* php* mongodb* dotnet* snap*
          sudo -E apt -y full-upgrade
          sudo -E apt -y install ack antlr3 aria2 asciidoc autoconf automake autopoint binutils bison build-essential bzip2 ccache cmake cpio curl device-tree-compiler fastjar flex gawk gettext gcc-multilib g++-multilib git gperf haveged help2man intltool libc6-dev-i386 libelf-dev libglib2.0-dev libgmp3-dev libltdl-dev libmpc-dev libmpfr-dev libncurses5-dev libncursesw5-dev libreadline-dev libssl-dev libtool lrzsz mkisofs msmtp nano ninja-build p7zip p7zip-full patch pkgconf python3 python3-pip libpython3-dev qemu-utils rsync scons squashfs-tools subversion swig texinfo uglifyjs upx-ucl unzip vim wget xmlto xxd zlib1g-dev
          sudo -E systemctl daemon-reload
          sudo -E apt -y autoremove --purge
          sudo -E apt clean
          sudo -E timedatectl set-timezone "Asia/Shanghai"
          echo "status=success" >> ${GITHUB_OUTPUT}

      - name: Create simulated physical disk
        run: |
          mnt_size=$(expr $(df -h /mnt | tail -1 | awk '{print $4}' | sed 's/[[:alpha:]]//g' | sed 's/\..*//') - 1)
          root_size=$(expr $(df -h / | tail -1 | awk '{print $4}' | sed 's/[[:alpha:]]//g' | sed 's/\..*//') - 4)
          sudo truncate -s "${mnt_size}"G /mnt/mnt.img
          sudo truncate -s "${root_size}"G /root.img
          sudo losetup /dev/loop6 /mnt/mnt.img
          sudo losetup /dev/loop7 /root.img
          sudo pvcreate /dev/loop6
          sudo pvcreate /dev/loop7
          sudo vgcreate github /dev/loop6 /dev/loop7
          sudo lvcreate -n runner -l 100%FREE github
          sudo mkfs.xfs /dev/github/runner
          sudo mkdir -p /builder
          sudo mount /dev/github/runner /builder
          sudo chown -R runner.runner /builder
          df -Th

      # 克隆源码
      - name: Clone Lede source
        id: down
        working-directory: /builder
        run: |
          #git clone --single-branch --depth=1 --branch=master https://github.com/coolsnowwolf/lede openwrt
          git clone -b openwrt-24.10 --depth=1 https://github.com/immortalwrt/immortal.git openwrt
          ln -sf /builder/openwrt ${GITHUB_WORKSPACE}/openwrt
          cd openwrt/
          ##sed -i 's|src-git luci https://github.com/coolsnowwolf/luci;openwrt-23.05|src-git luci https://github.com/coolsnowwolf/luci|g' feeds.conf.default
          #添加软件包，并删除重复项目
          sed -i '1i src-git kenzo https://github.com/kenzok8/openwrt-packages' feeds.conf.default
          sed -i '2i src-git small https://github.com/kenzok8/small' feeds.conf.default
          ./scripts/feeds update -a && rm -rf feeds/luci/applications/luci-app-mosdns
          rm -rf feeds/packages/net/{alist,adguardhome,mosdns,xray*,v2ray*,v2ray*,sing*,smartdns}
          rm -rf feeds/packages/utils/v2dat
          rm -rf feeds/packages/lang/golang
          git clone -b 1.25 https://github.com/kenzok8/golang feeds/packages/lang/golang
          ./scripts/feeds install -a
          ###
          #sed -i 's/192.168.1.1/192.168.31.11/g' package/base-files/files/bin/config_generate
          #sed -i "/^[[:space:]]*set network.\$1.netmask='\$netm'/a\\
          #\t\t\t\tset network.\$1.gateway='192.168.31.1'\\
          #\t\t\t\tset network.\$1.dns='127.0.0.1 223.5.5.5 8.8.8.8'
          #" package/base-files/files/bin/config_generate
          echo "status=success" >> ${GITHUB_OUTPUT}

      # 检查空间使用情况
      - name: Check space usage
        run: df -hT

      # 更新并安装 feeds
      - name: Update and install feeds
        id: feeds
        working-directory: /builder
        run: |
          cd openwrt/
          ./scripts/feeds update -a
          ./scripts/feeds install -a

      # 加载根目录下的配置文件
      - name: Load custom configuration
        id: cpconfig
        working-directory: /builder
        run: |
          cd openwrt/
          cp "${GITHUB_WORKSPACE}/config" .config

      # 下载包
      - name: Download packages
        id: dl
        working-directory: /builder
        run: |
          cd openwrt/
          make defconfig
          make download -j$(nproc)
          find dl -size -1024c -exec ls -l {} \;
          find dl -size -1024c -exec rm -f {} \;

     # 设置缓存
     # - name: Cache build dependencies
     #   uses: actions/cache@v3
     #   with:
     #     path: |
     #       openwrt/tmp          # 临时编译文件目录
     #       openwrt/build_dir    # 编译结果目录
     #       openwrt/staging_dir  # 工具链和临时库
     #       .ccache              # ccache 缓存
     #     key: ${{ runner.os }}-openwrt-cache-${{ hashFiles('**/.config') }}
     #     restore-keys: |
     #       ${{ runner.os }}-openwrt-cache-

      # 编译固件
      - name: Build firmware
        id: build
        working-directory: /builder
        run: |
          cd openwrt/
          echo -e "$(nproc) thread compile"
          make -j$(($(nproc) + 1))
          echo "status=success" >> ${GITHUB_OUTPUT}

      # 检查空间使用情况
      - name: Check space usage
        run: |
          echo "======================="
          echo "Space usage:"
          echo "======================="
          df -h
          echo "======================="
          du -sh ./openwrt

      # 上传dl
      - name: Upload firmware
        uses: actions/upload-artifact@v4
        with:
          name: lede-dl
          path: openwrt/dl

      # 上传编译结果
      - name: Upload binaries
        uses: actions/upload-artifact@v4
        with:
          name: lede-bin
          path: openwrt/bin
